<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediScreen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <nav>
        <div class="class=p-2" style="font-size: 20px">
            <a href="/"> Mediscreen</a>
            <a href="/"> Home </a>
            <a href="/patients">List Patients</a>
        </div>
    </nav>

    <br><br><br>
    <div class="content">
        <div class="row">
            <div class="col">
                <h2 style="color: darkcyan">We care.</h2>
                <p> MediScreen specializes in detecting risk factors for disease.
                    Our screenings using predictive analysis of patient populations at an affordable cost.

                <li> Are you a small or rural clinic or pratice ?</li>
                <li> Do you need screenings for heart disease or hyper tension precursors ? </li>
                </p>
                <br>
                <h5 style="color: darkcyan">We have solutions for you</h5>
            </div>
            <div class="col">
                <!--<img src="img/wecare.png" alt="mediscreen">-->
            </div>
        </div>
    </div>
</div>

</body>

</html>